{% extends 'base.html.twig' %}

{% block title %}Liga typerów{% endblock %}

{% block body %}
    <h1>Liga typerów</h1>
    <div class="col-lg-12 col-md-12 col-sm-12 mb-1" align="right">
        <button class="btn btn-warning">{{ button_label|default('Zapisz typy') }}</button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Gospodarze</th>
                <th>Goście</th>
                <th>Gole gosp.</th>
                <th>Gole gości</th>
            </tr>
        </thead>
        {% for type in types %}
            <tr>
                <td></td>
                <td><input type="text" id="matches_matchTypes_0_goalsHome" name="matches[matchTypes][0][goalsHome]" required="required" class="form-control"></td>
                <td><input type="text" id="matches_matchTypes_0_goalsAway" name="matches[matchTypes][0][goalsAway]" required="required" class="form-control"></td>

            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
