<div class="row">
    <div class="col-6 modal-content">
        <p>
            Nasza strona internetowa używa plików cookies (tzw. ciasteczka) w celach statystycznych, reklamowych oraz
            funkcjonalnych. Dzięki nim możemy indywidualnie dostosować stronę do twoich potrzeb. Każdy może zaakceptować
            pliki cookies albo ma możliwość wyłączenia ich w przeglądarce, dzięki czemu nie będą zbierane żadne
            informacje
        </p>
        <a href="#" class="btn-sm btn-warning" onclick="setVisited()">OK</a>
    </div>

    <div class="col-12 footer" align="center">
        &copy; ŁKS Orlęta Łuków
    </div>
</div>