<div class="row mb-2">
    <div class="col-lg-3 col-md-3 col-sm-4 col-5 pl-5 pt-2">
        <img class="img-fluid" src="{{ asset('images/orleta_logo.png') }}">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-4 col-2">

        <div class="orletaBrand" style="font-size:3vw;">ŁUKOWSKI KLUB SPORTOWY ORLĘTA ŁUKÓW</div>

    </div>
    <div class="col-lg-3 col-md-3 col-sm-4 col-5 pl-5 pt-2">
        <div class="row">
            <div class="col-6" align="right">
                <img class="img-fluid" src="{{ asset('images/herb_miasta.png') }}">
            </div>
            <div class="col-6" align="left">
                <img class="img-fluid" src="{{ asset('images/logo_osir.png') }}">
            </div>
        </div>
    </div>
</div>
<div class="row headerDown">
    <div class="col-lg-6 col-md-6 col-sm-6 menu"></div>
    <div class="col-lg-6 col-md-6 col-sm-6 menu">

    </div>
</div>